.mainInfoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.workInfoDiv{
    display: grid;
    padding: 1rem;
    gap: 1rem;
}
.buttonsDiv{
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
}
.contentDiv{
    display: grid;
    grid-template-columns: 1fr 0.35fr;
}
.schoolInfoDiv{
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    gap: 1rem;
}

.editButton{
    position: absolute;
}
.datesDiv{
    display: flex;
}